**DATA TYPES AND DATA STRUCTURES**

1. *What are data structures, and why are they important*?

- Data structures are ways to organize and store data in an effienct manner. Think of them as containers that hold your data and determine how you can interact with it.    
 *Why they are important?*
- conserve memory usage
- Optimize searching and sorting operations
- Simply data manipulation(modifying elements, adding, removing).


2. *Explain the difference between mutable and immutable data types with examples*.
- Mutable data types are object that can be changed and modify (e.g., list, set, dictionary)
- Immutable data types are those which can't be change and modify (e.g., int, float, tuples, bool etc.)



3. *What are the main differences between lists and tuples in Python*?
- The main difference between lists and tuples in python is mutability.
  Lists are mutable while tuples are immutable.
-
Lists performance is slightly slower than tuples.
- Lists have many built-in functions such as append( ), remove( ), pop( ), sort( ), etc.
- Tuples have few functions such as count( ), index( ).


4. *Describe how dictionaries store data*.
- Dictionary is unordered collections of data having unique key-value pairs. Each key acts as a unique identifier for retrieving an associated value.
- Keys and values can be of various data types(strings, numbers, lists and even other dictionaries).

In [ ]:
# For example (taking an example of name of medicines with their dosage and expiry date)
mydict = {"Name": "Aspirin", "Dosage": "75mg", "Expiry date": "07/2026"}

In [ ]:
print(mydict)

{'Name': 'Aspirin', 'Dosage': '75mg', 'Expiry date': '07/2026'}

In [ ]:
mydict.keys()

dict_keys(['Name', 'Dosage', 'Expiry date'])

In [ ]:
mydict.values()

dict_values(['Aspirin', '75mg', '07/2026'])

5. *Why might you use a set instead of a list in Python*?
- A set might be use instead of a list in python because set automatically removes duplicates. If you will add the same item multiple times, it will only keep the one.
- Sets support useful operations like union, intersection, difference and symmetric difference.

 6. *What is a string in Python, and how is it different from a list.*
 - Strings in python are characters arranged in an unchageable order. Strings can be joined together and altered using a variety of techniques( find, replace, etc.).
 - It is different from a list in a way that strings are are immutable and lists are mutable.
 - In strings, data type is text(characters) and in lists, data type is mixed type(int, float, bool, etc.).

7. *How do tuples ensure data integrity in Python?*
- Data integrity means keeping data protected from unintended modifications.
- Tuples ensure this integrity because tuples are immutable and you can't add, remove or change anything inside a tuple after it is created.

8. *What is a hash table, and how does it relate to dictionaries in Python?*
- Hash table  is a data structure to store key-value pairs.  
- Python automatically hashes the keys to store and retrieve the data super fast using the hash function.
- Dictionaries is python's built-in version of hash-table.

9. *Can lists contain different data types in Python?*
- Yes, lists can contain different data types in python. Lists can store heterogeneous data (int, float, string, bool etc.).

In [1]:
# Example of a list with different data types:
mylist = ["bill payment", "240", "98.5", "False"]

10. *Explain why strings are immutable in Python.*
- Strings are immutable in python because it makes them safe to share and use in many places and also improve performance and memory usage.

11. *What advantages do dictionaries offer over lists for certain tasks?*

 Advantages of dictionaries over lists for certain tasks:
- Fast lookup by label/keys.
- Dictionaries store data with meaningful labels.
- Dictionary access elements using descriptive keys(e.g."name:"), unlike list which use index numbers.

12. *Describe a scenario where using a tuple would be preferable over a list*.
- Tuples provide secure way to store data that couldn't be modified.
- It protects the data from being changed because tuples are immutable.
- Scenario: storing drug information having fixed properties such as drug name, dosage and route of administration.
- Once a drug's name, dosage, and route are defined they usually don't change in that record and tuples ensures no accidental modifications.

In [1]:
#For example
# Storing drug information using tuples.
drug_info = ("Levocetrizine", "5mg", "oral")

13. *How do sets handle duplicate values in Python?*
- Sets are  unordered collection of unique elements.
- Duplicates enteries are not allowed in sets, it removes duplicates automatically.

In [2]:
#For example
unique_med = {"albendazole", "vancomycin", "fluoroquinolones", "vancomycin", "albendazole"}
unique_med   # As you can see, it automatically removes the duplicate medicine from the list.

{'albendazole', 'fluoroquinolones', 'vancomycin'}

14. *How does the “in” keyword work differently for lists and dictionaries?*

The "in" keyword is used to check if value exists in a list, dictionary and other data structures.
- In the list, "in" keyword checks if the given value exists as an element in the list.
-In dictionaries, "in" keyword checks for keys.

In [5]:
# For list
lst = ["jahanvi", "3.0", "25", "dangra"]
print(lst)
# "in" keyword in list
print("jahanvi"in lst)

['jahanvi', '3.0', '25', 'dangra']
True

In [9]:
# For dictionary
dict = {'Name':'jahanvi', 'roll no.':'20'}
print(dict)
# "in" keyword in dictionaries
print("Name" in dict)
print("jahanvi" in dict) # False : because it's a value not a key.

{'Name': 'jahanvi', 'roll no.': '20'}
True
False

15. *Can you modify the elements of a tuple? Explain why or why not*?
- No, you cannot modify the elements of a tuple because tuple is immutable data structure. Once a tuple is created its element cannot be changed, it will raise an error.

16. *What is a nested dictionary, and give an example of its use case*?
- Nested dictionary is a dictionary inside a dictionary.

In [20]:
# use case example
pharma = {
    "Amoxicillin":{
        "dosage": "250mg",
        "price": 3.00,
        "stock": 60

        },
    "Verapamil":{
        "dosage":"300mg",
        "price":12.00,
        "stock":80
        }
    }
pharma

{'Amoxicillin': {'dosage': '250mg', 'price': 3.0, 'stock': 60},
 'Verapamil': {'dosage': '300mg', 'price': 12.0, 'stock': 80}}

In [22]:
print(pharma["Verapamil"]["dosage"])

300mg

17. *Describe the time complexity of accessing elements in a dictionary.*
- Dictionary use hash table data structure internally to store and retrieve data and its lookup are generally fast.

Talking about the time complexity of accesssing elements in a dictionary:
- When you try to access value using a key, a hash function is applied to the key and this quickly determines which memory the corresponding value is stored in. This lookup process takes a fixed amount of time regardless of the number of items in the dictionary.

18. *In what situations are lists preferred over dictionaries*?
- Lists are preferred over dictionaries in the situations where we want to modify an elements in the list because list is mutable.
- In case if you need to maintain the exact order of elements.
- You can easily access position of the elements in the list using indexing.
- Lists allow duplicates values(for example: list of multiple patients taking same medicines).

19. *Why are dictionaries considered unordered, and how does that affect data retrieval*?
- Dictionaries are considered unordered because the items (key-value pairs) did not follow any fix order.

How it affects data retrieval:
- Fast access of elements by keys.
- No indexing.

20. *Explain the difference between a list and a dictionary in terms of data retrieval.*

Lists:
- Elements are accessed by index numbers(list[1]).
- Data structure: ordered sequence
- Data retieval speed is slow.
- Simple collections are used.

Dictionaries:

- Elements are accessed by key(dict["key]).
- Data structure: key-value pairs
- Data retrieval speed is fast.
- Structured data with labels are used.

**PRACTICAL** **QUESTIONS**

1.  *Write a code to create a string with your name and print it.*

In [26]:
my_name = "Jahanvi Dangra"
print("My name is:", my_name)

My name is: Jahanvi Dangra

2. *Write a code to find the length of the string "Hello World".*

In [27]:
# Define the string
str = "Hello World"
str

'Hello World'

In [28]:
len(str)

11

3.* Write a code to slice the first 3 characters from the string "Python Programming"*.

In [29]:
str = "Python Programming"
str

'Python Programming'

In [37]:
sliced_text = str[0:3]
print("first 3 characters:", sliced_text)

first 3 characters: Pyt

4. *Write a code to convert the string "hello" to uppercase.*

In [45]:
str = "hello"
str

'hello'

In [46]:
str.upper()

'HELLO'

5. *Write a code to replace the word "apple" with "orange" in the string "I like apple"*.

In [42]:
str = "I like apple"
str

'I like apple'

In [43]:
# replaced string
str.replace("apple", "orange")

'I like orange'

6. *Write a code to create a list with numbers 1 to 5 and print it*.

In [49]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

7. *Write a code to append the number 10 to the list [1, 2, 3, 4]*.

In [59]:
list = [1, 2, 3, 4]
list

[1, 2, 3, 4]

In [60]:
list.append(10)
print("append list:", list)

append list: [1, 2, 3, 4, 10]

8. *Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]*.

In [67]:
list = [1, 2, 3, 4, 5]
list

[1, 2, 3, 4, 5]

In [68]:
# to remove the number from the list remove function will be used.
list.remove(3)
print("updated list:", list)

updated list: [1, 2, 4, 5]

9.* Write a code to access the second element in the list ['a', 'b', 'c', 'd']*

In [75]:
lst = ['a','b','c','d']
lst

['a', 'b', 'c', 'd']

In [76]:
#To access the second element indexing will be done.
second_element = lst[1]
print("second element:", second_element)

second element: b

10. *Write a code to reverse the list [10, 20, 30, 40, 50]*.

In [77]:
# to reverse the list
lst = [10, 20, 30, 40, 50]
lst

[10, 20, 30, 40, 50]

In [78]:
reversed_lst = lst[::-1]
print("reverse list:", reversed_lst)

reverse list: [50, 40, 30, 20, 10]

11. *Write a code to create a tuple with the elements 100, 200, 300 and print it*.

In [79]:
# code to create a tuple
tuple = (100, 200, 300)
print("my tuple:", tuple)

my tuple: (100, 200, 300)

12. *Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')*.

In [80]:
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple

('red', 'green', 'blue', 'yellow')

In [84]:
second_to_last_element = my_tuple[-2]
print("second-to-last element of the tuple:", second_to_last_element)

second-to-last element of the tuple: blue

13. * Write a code to find the minimum number in the tuple (10, 20, 5, 15)*.

In [85]:
tuple = (10, 20, 5, 15)
tuple

(10, 20, 5, 15)

In [87]:
min_num = min(tuple)
print("minimum number:", min_num)

minimum number: 5

14.* Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')*.

In [89]:
tup = ('dog', 'cat', 'rabbit')
tup

('dog', 'cat', 'rabbit')

In [94]:
#index of "cat"
index_cat = tup.index("cat")
print("index of cat is:", index_cat)

index of cat is: 1

15. *Write a code to create a tuple containing three different fruits and check if "kiwi" is in it*.

In [98]:
different_fruits = ('orange', 'avocado', 'banana')
different_fruits

('orange', 'avocado', 'banana')

In [99]:
# to check if kiwi is in it: in keyword will be used.
'kiwi' in different_fruits   # it is showing that kiwi is not in the tuple

False

16. *Write a code to create a set with the elements 'a', 'b', 'c' and print it.*

In [104]:
set = {'a','b','c'}
print("my set:", set)  #sets are unordered collection of elements and that's why it's showing this output.

my set: {'b', 'c', 'a'}

17. *Write a code to clear all elements from the set {1, 2, 3, 4, 5}*.

In [106]:
set = {1, 2, 3, 4, 5}
set

{1, 2, 3, 4, 5}

In [108]:
#to clear all the elements of the set
set.clear()
print(set)

set()

18.* Write a code to remove the element 4 from the set {1, 2, 3, 4}*.

In [125]:
my_set = {1, 2, 3, 4}
my_set

{1, 2, 3, 4}

In [126]:
my_set.remove(4)
print("New set:", my_set)

New set: {1, 2, 3}

19. *Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}*.

In [127]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
# To find the union of two sets
union_set = set1 | set2
union_set

{1, 2, 3, 4, 5}

20. *Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}*.

In [128]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
intersection_set

{2, 3}

21. *Write a code to create a dictionary with the keys "name", "age", and "city", and print it*.

In [129]:
my_dict = {"name": "jahanvi", "age": "22", "city": "alwar"}
print("My dictionary:", my_dict)

My dictionary: {'name': 'jahanvi', 'age': '22', 'city': 'alwar'}

22. *Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}*.

In [131]:
dict = {'name': 'John', 'age': 25}
dict

{'name': 'John', 'age': 25}

In [132]:
# To add a new key-value pair
update_dict = {'country': 'USA'}
dict.update(update_dict)
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. *Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}*.

In [137]:
dict = {'name': 'Alice','age': 30}
dict

{'name': 'Alice', 'age': 30}

In [140]:
# to access the value associated with the key"name"
dict['name']

'Alice'

24. *Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}*.

In [141]:
dict = {'name': 'Bob', 'age': 22, 'city':'New York'}
dict

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [143]:
dict.pop('age') # pop is used to remove the specific key and return the corresponsding value.
print(dict)

{'name': 'Bob', 'city': 'New York'}

25. *Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}*.

In [144]:
my_dict = {'name': 'Alice', 'city':'Paris'}
my_dict

{'name': 'Alice', 'city': 'Paris'}

In [145]:
# To check if the key "city" exists in dictionary
'city' in my_dict   # True means it exist in the dictionary.

True

26.  *Write a code to create a list, a tuple, and a dictionary, and print them all*

In [151]:
list = ["soap","face wash", "serum", "hair oil"]
tuple = (250, 300, 150, 110)
dict = {'fruit': 'orange', 'vegetable':'capsicum','spice':'salt'}

In [155]:
print("List:", list)
print("Tuple:", tuple)
print("Dictionary:", dict)

List: ['soap', 'face wash', 'serum', 'hair oil']
Tuple: (250, 300, 150, 110)
Dictionary: {'fruit': 'orange', 'vegetable': 'capsicum', 'spice': 'salt'}

27. *Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.*

In [170]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()
print("sorted random number:", random_numbers)

sorted random number: [33, 74, 88, 97, 99]

28.  *Write a code to create a list with strings and print the element at the third index*.

In [172]:
 list = ["Epidermis", "dermis","hypodermis", "sebaceous gland"]
 list

['Epidermis', 'dermis', 'hypodermis', 'sebaceous gland']

In [175]:
# Element at third index
list[3]
print("Element at index 3:", list[3])

Element at index 3: sebaceous gland

29. *Write a code to combine two dictionaries into one and print the result*.

In [176]:
dict1 = {"brother":"2345", "sister":"97468"}
dict2 = {"uncle": 8786, "aunty":4565}

In [177]:
combine_dict = (dict1, dict2)
print("combined dictionaries:", combine_dict)

combined dictionaries: ({'brother': '2345', 'sister': '97468'}, {'uncle': 8786, 'aunty': 4565})

30. *Write a code to convert a list of strings into a set*.

In [181]:
my_list = ["table","couch","table","curtains","lamp"]
my_list

['table', 'couch', 'table', 'curtains', 'lamp']

In [183]:
del set
converted_set = set(my_list)
print("set:", converted_set)

set: {'couch', 'table', 'lamp', 'curtains'}

***THANK*** ***YOU***